* {box-sizing: border-box}

/* Add a black background color to the top navigation */
.topnav {
  background-color: #333;
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: right;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;

}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: #04AA6D;
  color: white;
}

h1       { background-color: #237753; 
color: #000000; text-align: center;
line-height: 200%;
 font-family: Verdana;
}

body { background-color: #fcfdfc;
    color:#000000;
    font-family: Verdana;
    }


<div class= "container">
  <form action="action_page.php">

    <label for="fname">First Name</label>
    <input type="text" id="fname" name="firstname" placeholder="Your name..">

    <label for="lname">Last Name</label>
    <input type="text" id="lname" name="lastname" placeholder="Your last name..">

    <label for="country">Country</label>
    <select id="country" name="country">
      <option value="australia">Australia</option>
      <option value="canada">Canada</option>
      <option value="usa">USA</option>
    </select>

    <label for="subject">Subject</label>
    <textarea id="subject" name="subject" placeholder="Write something.." style="height:200px"></textarea>

    <input type="submit" value="Submit">

  </form>
</div>



nav         {text-align: right;font-weight: bold;}  

    h1       { background-color: #237753; 
color: #000000; text-align: center;
line-height: 200%;
 font-family: Verdana;
}



form {  
 width: 30%;  
 margin: 60px auto;  
 background: #d3e7e1;  
 padding: 60px 120px 80px 120px;  
 text-align: center;  
-webkit-box-shadow: 2px 2px 3px rgba(0,0,0,0.1); 
box-shadow: 2px 2px 3px rgba(0,0,0,0.1); 

} 



/* Add padding to containers */
.container {
  padding: 16px;
}





h2{
text-align: center;
    padding-left: 3em;
    padding-right: 2em;
    color: #283836;
    font-weight: bold;
    font-family: Verdana, Arial, sans-serif;
    font-size: 30px;
}


h3 { 
font-size: 1.2em;
padding-left: 3em;
padding-right: 2em;
padding-bottom: .25em;
}


h4 { 
font-size: 1.2em;
padding-left: 3em;
padding-right: 2em;
padding-bottom: .25em;
}

 body {  

  background: #fcfdfc; 

}


/* Style inputs with type="text", select elements and textareas */
input[type=text], select, textarea {
  width: 100%; /* Full width */
  padding: 12px; /* Some padding */ 
  border:none;
  border-radius: 4px; /* Rounded borders */
  box-sizing: border-box; /* Make sure that padding and width stays in place */
  margin-top: 6px; /* Add a top margin */
  margin-bottom: 16px; /* Bottom margin */
  resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}

/* Style the submit button with a specific background color etc */
input[type=submit] {
  background-color: #04AA6D;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

/* When moving the mouse over the submit button, add a darker green color */
input[type=submit]:hover {
  background-color: #45a049;
}




footer   { background-color: #28632d; 
color: #221811;
font-size: .60em;
font-style: italic;
text-align: right;    }                    
#wrapper { width: 80%;
margin-center: auto;
margin-center: auto;}
table    {margin: auto;
border: 1px;
border: 5px solid #000066;
width: 90%;
border-spacing: 0px;
}